@import "setup";

.georgia {
  value: $georgia;
}

.helvetica {
  value: $helvetica;
}

.lucida-grande {
  value: $lucida-grande;
}

.monospace {
  value: $monospace;
}

.verdana {
  value: $verdana;
}
