@import "setup";

.all-text-inputs {
  value: $all-text-inputs;
}

.all-text-inputs-active {
  value: $all-text-inputs-active;
}

.all-text-inputs-focus {
  value: $all-text-inputs-focus;
}

.all-text-inputs-hover {
  value: $all-text-inputs-hover;
}
